@import "tailwindcss";

@theme inline {
  /* biru muda */
  --color-brand-primary: #2CAAE1; 
  /* abu abu */
  --color-brand-gray-primary: #F3F4F6;
  --color-brand-gray-secondary: #9CA3AF33;
  --color-brand-gray-tertiary: #D9D9D9;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
}

